body {
  background-color: rgb(250, 245, 241) !important;
}
nav {
  background-color: rgb(0, 30, 106) !important;
}
.navbar-nav {
  float:none !important;
  margin:0 auto !important;
  display: flex !important;
  text-align: center !important;
}
.navbar-nav > li {
  display: inline-block;
  float: none;
}
nav ul li ul li {
  background-color: rgb(255, 255, 255) !important;
  
}
a {
  color: #00B7FF;
  font-size: 18px;
}
#top {
  width: 50%; 
  margin: auto; 
  margin-top: 2%;
  text-align: center;
} 
#top h1 {
  -webkit-text-fill-color: rgb(0, 30, 106);
  text-align: center;
  width: 50%;
  margin: auto;
  border-bottom: 3px solid rgb(0, 30, 106);
}
#container {
  width: 100%;
  margin:auto;
  margin-top: 1%;
  display: inline-block;
  text-align: center;
}
#container p {
  font-size: 18px;
  text-align: left;
}
#container h2 {
  -webkit-text-fill-color: rgb(0, 30, 106);
  text-align: center;
  width: 100%;
  margin: auto;
}
#resumeDiv {
  width: 45%;
  margin: auto;
  display: inline-block;
  margin-right: 2%;
}
#iframe {
  margin-top: 1%;
  border: 5px solid rgb(0, 30, 106);
}
#languages {
  width: 45%;
  margin: auto;
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
}
#languages h2 {
  text-align: left;
  margin-bottom: 1%;
}
#languages p {
  text-decoration: underline;
}
#backend {
  width: 45%;
  margin: 0;
  margin-left: 0px;
  margin-top: 2%;
  padding: 2%;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(213, 213, 213);
}
#frontend {
  width: 45%;
  margin: 0;
  margin-right: 0px;
  margin-top: 2%;
  padding: 2%;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(213, 213, 213);
}
#dbms {
  width: 45%;
  margin: 0;
  margin-left: 0px;
  margin-top: 2%;
  padding: 2%;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(213, 213, 213);
}
#frameworks {
  width: 45%;
  margin: 0;
  margin-right: 0px;
  margin-top: 2%;
  padding: 2%;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(213, 213, 213);
}