body {
  background-color: rgb(250, 245, 241) !important;
}
nav {
  background-color: rgb(0, 30, 106) !important;
}
.navbar-nav {
  float:none !important;
  margin:0 auto !important;
  display: flex !important;
  text-align: center !important;
}
.navbar-nav > li {
  display: inline-block;
  float: none;
}
nav ul li ul li {
  background-color: rgb(255, 255, 255) !important;
  
}
a {
  color: #00B7FF;
  font-size: 18px;
}
#top {
  width: 50%; 
  margin: auto; 
  margin-top: 2%;
  border-bottom: 3px solid rgb(0, 30, 106);
} 
#top h1 {
  -webkit-text-fill-color: rgb(0, 30, 106);
  text-align: center
}
#intro {
  width: 50%; 
  margin: auto; 
  margin-top: 2%;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(213, 213, 213);
  padding: 2%;
  overflow-wrap: break-word;
}
#intro p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
#cardHolder {
  display: flex;
  width: 100%;
  height: 350px !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#cards {
  background-color: rgb(55, 75, 126) !important;
  display: inline-block !important;
  max-width: 16rem !important;
  min-width: 10rem !important;
  height: inherit !important;
  margin: auto !important;
  text-align: center !important;
}
@media only screen and (max-width: 1600px) {
  #cardHolder {
    display: flex;
    width: 100%;
    height: 450px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #cards {
    background-color: rgb(55, 75, 126) !important;
    display: inline-block !important;
    max-width: 16rem !important;
    min-width: 10rem !important;
    height: inherit !important;
    margin: auto !important;
    text-align: center !important;
  }
}
@media only screen and (max-width: 1200px) {
  #cardHolder {
    display: flex;
    width: 100%;
    height: 500px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #cards {
    background-color: rgb(55, 75, 126) !important;
    display: inline-block !important;
    max-width: 16rem !important;
    min-width: 10rem !important;
    height: inherit !important;
    margin: auto !important;
    text-align: center !important;
  }
}
@media only screen and (max-width: 600px) {
  #cardHolder {
    display: flex;
    width: 100%;
    height: 550px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #cards {
    background-color: rgb(55, 75, 126) !important;
    display: inline-block !important;
    max-width: 16rem !important;
    height: inherit !important;
    margin: auto !important;
    text-align: center !important;
  }
}
#cardHeader {
  text-align: center;
  border-bottom: 2px solid white;
}
#cardP {
  font-size: 18px;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-top: 5%;
}
#cardButton {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#aboutDiv {
  width: auto; 
  height: inherit !important;
  margin: auto; 
  margin-left: auto;
  margin-right: 2%;
  margin-top: 2%;
} 
#experienceDiv {
  width: auto; 
  height: inherit !important;
  margin: auto; 
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}
#contactDiv {
  width: auto; 
  height: inherit !important;
  margin: auto; 
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}
#projectsDiv {
  width: auto; 
  height: inherit !important;
  margin: auto; 
  margin-left: 2%;
  margin-right: auto;
  margin-top: 2%;
}
#lastDiv {
  width: 50%; 
  margin: auto; 
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(213, 213, 213);
  overflow-wrap: break-word;
}
#lastDiv p {
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10%;
  padding: 2%;
}